.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title{
  background-color: rgb(232, 232, 243);
  font-size: 50px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  min-width: 100vw;
  margin-top: 1px;
}

label{
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type = "email"],
input[type = "text"],
input[type = "url"]{
  min-width: 500px;
  min-height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}


button[type="button"]{
  font-size: large;
  color: white;
  background-color: darkslategray;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-radius: 5px;
}

button[type="submit"]{
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: darkslategray;
  height: 40px;
  margin: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

button[type="button"]:hover,
button[type="submit"]:hover{
  color: white;
  background-color: teal;
}


.error{
  color: red;
  font-weight: bold;
  margin: 10px;
}

.sent{
  font-size: 30px;
  color: crimson;
}


